@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* Container */
.container {
    max-width: 1536px;
    margin: auto;
}

/* Header */
.header {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefefe;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgb(243, 241, 241);
    cursor: default;
    user-select: none;
}

.header__logo {
    height: 100%;
    justify-self: left;
}

.header__logo-link {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__logo-img {
    height: 48px;
}

#modal-res-header {
    display: none;
}

/* Xử lý thanh nav */
.header__nav-list > ul {
    display: flex;
}

.header__nav-link > a {
    display: inline-block;
    line-height: 80px;
    font-weight: 700;
    padding: 0 37px;
    transition: 0.3s;
}

.header__nav-link .header__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px 0;
    background-color: var(--white-color);
    box-shadow: 0 0 2px rgb(228 223 223);
    transform: translateY(10px);
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
}

.header__nav-link .arrow-first {
    display: none;
}

.header__nav-link,
.dropdown-link {
    position: relative;
}

.dropdown-link > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 8px 40px;
    min-width: 250px;
    font-size: 14px;
    transition: 0.3s;
}

.dropdown-link > a > span,
.header__nav-link > a > span {
    position: relative;
}

.header__nav-link > a > span::after,
.dropdown-link > a > span::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2.5px;
    width: 0;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.nav-icon {
    font-size: 13px;
}

.dropdown-link > .next_dropdown {
    top: 0;
    left: 100%;
}

@keyframes goUp {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

/* Header icon*/
.header__icon {
    display: flex;
}

.header-icon__button {
    color: var(--black-color);
    background-color: var(--white-color);
    height: 80px;
    font-weight: 300;
    padding: 0 10px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.header__icon-font {
    font-size: 20px;
}

.header-icon__button:hover {
    color: var(--primary-color);
    animation: changeColor ease-out 0.2s forwards;
}

.header-icon__button-info {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 25px 10px;
    background-color: var(--white-color);
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.04);
    transition: transform ease 0.2s, opacity ease 0.2s;
    transform: scale(0%);
    opacity: 0;
    transform-origin: top right;
    cursor: default;
}

.header-icon__button-info-product {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 450;
}

.header-icon__button:hover .header-icon__button-info {
    transform: scale(100%);
    opacity: 1;
}

/* Header search */
.container__search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(92, 215, 219, 0.8);
    display: none;
    animation: modalSearch linear 0.15s forwards;
}

@keyframes modalSearch {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container__search-close {
    --close-width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--close-width);
    height: var(--close-width);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container__search-close:hover {
    animation: hoverClose linear 0.2s forwards;
}

@keyframes hoverClose {
    from {
        background-color: inherit;
    }
    to {
        background-color: var(--primary-color);
    }
}

.container__search-close-icon {
    font-size: 30px;
    color: var(--white-color);
}

.container__search-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__search-body-contain {
    width: 930px;
    height: 82px;
    display: flex;
}

.container__search-body-searching {
    color: #848484;
    width: 75%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 35px;
}

.container__search-body-btn {
    height: 100%;
    border: none;
    flex: 1;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.container__search-body-searching::placeholder {
    color: #848484;
}

/* Header bar */
#bar {
    display: none;
}

.header__bar-blanket {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform ease-in-out 0.35s;
}

.header__bar-blanket-close {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.header__bar-blanket-close:hover {
    animation: changeColor linear 0.2s forwards;
}

.header__bar-blanket-guide {
    padding: 40px 50px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__bar-blanket-guide-label {
    margin-bottom: 10px;
}

.header__bar-blanket-guide-signature {
    margin: 10px 0;
}

.header__bar-blanket-guide-map {
    margin: 20px 0;
    width: 100%;
}

.header__bar-blanket-guide-desc {
    margin: 14px 0;
    font-size: 14px;
    line-height: 1.6;
    color: #505050;
}

.header__bar-blanket-guide-find {
    margin: 36px 0 32px 0;
    font-size: 20px;
}

.header__bar-blanket-guide-tool {
    display: flex;
    width: 252px;
    height: 50px;
    margin-bottom: 10px;
}

.header__bar-blanket-guide-tool-search {
    outline: none;
    border: none;
    background-color: #f8f8f8;
    color: #848484;
    padding: 9px 0 9px 22px;
    flex: 1;
}

.header__bar-blanket-guide-tool-glass {
    background-color: var(--primary-color);
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__bar-blanket-guide-tool-glass-icon {
    color: #fff;
}

.header__bar-blanket-guide-tool-search::placeholder {
    color: #848484;
}

.header__bar-blanket-guide-invite {
    margin: 30px 0 32px;
    font-size: 20px;
}

.header__bar-blanket-guide-socials {
    display: flex;
    justify-content: center;
}

.header__bar-blanket-guide-social {
    background-color: var(--primary-color);
    width: 48px;
    height: 48px;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bar-blanket-guide-social:hover {
    animation: darkColor linear 0.3s forwards;
}

@keyframes darkColor {
    from {
        background-color: var(--primary-color);
    }
    to {
        background-color: #3ea8ab;
    }
}

.header__bar-guide-social-icon {
    color: var(--white-color);
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#bar:checked ~ .overlay {
    display: block;
}

#bar:checked ~ .header__bar-blanket {
    transform: translateX(0%);
}

/* header buying */
.header__buy-icons {
    position: fixed;
    right: 0;
    top: calc(80px + 100px);
}

.header__buy-icon {
    background-color: var(--white-color);
    min-width: 42px;
    min-height: 42px;
    margin-bottom: 8px;
    border-radius: 2px;
    transition: transform ease-in 0.2s;
    transform: translateX(calc(80px + 8px));
    box-shadow: 0px 0px 8px rgba(145, 139, 139, 0.8);
}

.header__buy-icon:hover {
    transform: translateX(0px);
}

.red-background {
    background-color: #ef2853;
}

.header__buy-icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 42px;
    padding: 0 8px;
}

.header__buy-icon-link-font {
    color: #ef2853;
    font-size: 22px;
}

.svg-icon {
    margin-top: 50%;
    margin-top: 0;
}

.header__buy-icon-link-title {
    font-size: 10px;
    color: var(--white-color);
    margin-left: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    min-width: 80px;
}

/* Slider */
.slider {
    height: 420px;
    margin-top: 80px;
    overflow: hidden;
}
.slider__list {
    position: relative;
    overflow: hidden;
}

.slider__list-img {
    padding-top: 420px;
    background-image: url(https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/skiing-slider-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 10%;
    filter: brightness(90%);
    animation: slideUp linear 6s, slideAppear linear 0.3s;
}

@keyframes slideUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes slideUp2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes slideAppear {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideAppear2 {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.slider__list-text {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    animation: slideTextUp ease-in-out 0.8s forwards;
}

@keyframes slideTextUp {
    from {
        bottom: 35%;
        opacity: 0;
    }
    to {
        bottom: 50%;
        opacity: 1;
    }
}

@keyframes slideTextUp2 {
    from {
        bottom: 35%;
        opacity: 0;
    }
    to {
        bottom: 50%;
        opacity: 1;
    }
}

.slider__text-heading {
    margin: 0;
    font-size: 40px;
    font-family: "Satisfy", cursive;
}

.slider__text-heading-big1 {
    font-size: 120px;
    margin: 0;
}

.slider__text-desc {
    width: 734px;
    margin: 10px auto 0;
    font-size: 18px;
    text-align: center;
}

/* Slider angle icon */
.slider-angle-left,
.slider-angle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--white-color);
    --width-angle-slider: 55px;
    width: var(--width-angle-slider);
    height: var(--width-angle-slider);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-angle-left:hover,
.slider-angle-right:hover {
    animation: changeColorEngle linear 0.2s forwards;
}

.slider-angle-left:hover .slider-angle-icon,
.slider-angle-right:hover .slider-angle-icon {
    animation: changeColorEngle linear 0.2s forwards;
}

@keyframes changeColorEngle {
    from {
        background-color: var(--white-color);
        color: var(--primary-color);
    }
    to {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.slider-angle-left {
    left: 25px;
}

.slider-angle-right {
    right: 25px;
}

.slider-angle-icon {
    font-size: 30px;
    color: var(--primary-color);
}

/* Cấu hình chung cho các slide với nhau */
.swiper-pagination-bullets {
    position: initial;
    margin-top: 50px;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    margin: 0 8px !important;
    background-color: rgb(159, 231, 233);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #3fd0d4;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

/* Directory 5 column */
.place__winter {
    margin-top: 20px;
    cursor: default;
    user-select: none;
    overflow: hidden;
    width: 100%;
}

.place__winter-destination {
    box-shadow: 0 3px 25px rgb(236, 233, 233);
}

.pic__sce {
    color: var(--white-color);
    font-size: 15px;
}

.pic__link {
    display: block;
    overflow: hidden;
}

.pic {
    width: 100%;
    display: block;
    transition: transform linear 0.3s;
    object-fit: cover;
}

.pic:hover {
    transform: scale(1.08);
}

.cal__people-ski {
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.cal {
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 26px;
}

.people {
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.ski {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;
    color: inherit;
}

.ski-text {
    position: relative;
}

.ski-text::after {
    position: absolute;
    left: 0;
    top: 100%;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--white-color);
    display: block;
    transition: width linear 0.2s;
}

.ski:hover .ski-text::after {
    width: 100%;
}

.place__winter-text {
    padding: 31px 25px 33px 25px;
}

.place__winter-heading-link {
    text-decoration: none;
    color: var(--black-color);
    display: block;
}

.place__winter-heading-link:hover {
    color: var(--primary-color);
    animation: changeColor ease-out 0.25s;
}

@keyframes changeColor {
    from {
        color: var(--black-color);
    }
    to {
        color: var(--primary-color);
    }
}

.place__winter-heading {
    font-size: 25px;
    margin: 0 0 10px;
}

.place__winter-desc {
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--text-color);
    width: 210px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.place__winter-rate {
    display: flex;
    align-items: center;
    margin-top: 10px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
}

.place__winter-rate-star {
    padding: 0 10px;
}

.place__winter-rate-star i {
    padding: 0 6px;
}

/* Body */
.body__part-bg {
    padding: 101px 0 130px 0;
    background-image: url("https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/skiing-parallax-1.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-position: top;
    background-size: cover;
}

.body__part-contain {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 101px 0 130px 0;
}

.body__part-contain-special {
    padding: 0;
}

/* Winter Sports */

.body__part-title {
    padding: 0 0 47px 0;
    text-align: center;
    width: 768px;
    margin: 0 auto;
}

.body__part-title-up {
    font-family: "Satisfy", cursive;
    color: var(--primary-color);
}

.body__part-video,
.body__part-video-watching,
.body__part-desc {
    width: 950px;
    height: 458px;
    margin: 0 auto;
}

.body__part-video {
    margin-bottom: 24px;
}

.body__part-desc {
    width: 724px;
    height: auto;
    margin-bottom: 31px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 0.5px;
}

.body__part-more {
    width: 220px;
    margin: 0 auto;
}

.body__part-more-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.body__part-more-link:hover {
    filter: brightness(80%);
    animation: nightfog linear 0.2s;
}

@keyframes nightfog {
    from {
        filter: brightness(90%);
    }
    to {
        filter: brightness(80%);
    }
}

/* Top Reviews */
.body__part-title-next {
    font-size: 17.5px;
    margin: 12px auto 0;
    width: 600px;
}

input[name="check__body-user"] {
    display: none;
}

.body__part-user {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.body__part-user:first-child {
    margin-left: 0;
}

.body__part-user:last-child {
    margin-right: 0;
}

.body__part-user-container {
    display: flex;
    justify-content: space-between;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

.body__part-user-img {
    object-fit: cover;
    margin-right: 21px;
}

.body__part-user-place {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 5px 0;
    text-decoration: none;
    color: var(--black-color);
}

.body__part-user-place:hover {
    color: var(--primary-color);
    animation: changeColor ease-in 0.2s;
}

@keyframes changeColor {
    from {
        color: var(--black-color);
    }
    to {
        color: var(--primary-color);
    }
}

.body__part-rate {
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--primary-color);
    line-height: 24px;
}

.body__part-comment {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.body__part-user-name {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 600;
    margin: 11px 0 0 0;
}

/* Enjoy your holiday */
.body__part-location {
    margin-top: 21px;
    overflow: hidden;
}

.body__part-location-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
}

.body__part-location-place-img {
    width: 76px;
    height: 78px;
    position: relative;
    top: 0;
    right: 0;
    transition: top linear 0.15s;
}

.body__part-location-place-img:hover {
    top: -5px;
}

.body__part-location-place-heading {
    margin: 27px 0 0;
}

.body__part-location-place-desc {
    margin: 11px 0 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
}

/* Body Slider */
.body__slider-contain-img {
    cursor: default;
    user-select: none;
}

.body__slider-container-img-player {
    overflow: hidden;
}

.body__slider-img-player {
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
    object-fit: cover;
}

.body__slider-img {
    width: 100%;
    display: block;
}

.body__slider-player {
    position: absolute;
    height: 33.33333%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    transition: bottom ease-out 0.5s;
    bottom: -33.33333%;
}

.body__slider-player-name {
    font-size: 20px;
    font-weight: 700;
}

.body__slider-player-desc {
    margin-top: 14px;
    line-height: 24px;
    font-size: 16px;
    padding: 0 25px;
}

.body__slider-player-icon {
    margin-top: 18px;
    display: flex;
}

.body__slider-player-icon-link {
    display: block;
    padding: 0 10px;
    color: inherit;
}

.body__slider-player-icon-link:hover {
    filter: brightness(70%);
}

.body__slider-img-player:hover .body__slider-player {
    bottom: 0;
}

.body__slider-player-pagination {
    display: none;
}

/* Body Character */
.body__slider-character {
    background-color: #3abdc1;
    color: var(--white-color);
    font-weight: 700;
}

.body__slider-achieve {
    overflow: hidden;
    height: 248px;
    display: flex;
    align-items: center;
    padding: 0;
}

.body__slider-achieve-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    width: 25%;
}

.body__slider-achieve-item-num {
    font-size: 65px;
}

/* Winter Resource */
.body__part-balls {
    display: flex;
    padding: 15px 50px 40px;
    width: 100%;
}

.body__part-balls-ball {
    padding: 0 40px;
    position: relative;
}

.body__part-ball {
    border-radius: 50%;
    overflow: hidden;
}

.body__part-balls-ball:hover .body__part-ball-img {
    transform: scale(1.08);
}

.body__part-ball-img {
    width: 100%;
    border-radius: 50%;
    filter: brightness(70%);
    transition: transform linear 0.4s;
    object-fit: cover;
}

.body__part-ball-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 40px;
    font-family: "Satisfy", cursive;
}

.body__part-ball-dragonball {
    position: absolute;
    top: 15px;
    right: 20%;
    background-color: var(--primary-color);
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.body__part-ball-dragonball-icon {
    color: var(--white-color);
    font-size: 14px;
}

/* Footer */
.footer {
    background-color: #212121;
}

.footer__container {
    padding: 106px 110px 78px;
    color: var(--white-color);
    display: flex;
}

.footer__column {
    padding: 0 15px;
    flex: 1;
}

.footer__column-link {
    background-color: rgba(33, 33, 33, 0.8);
    display: block;
}

.footer__column-desc {
    margin: 17px 0;
    font-size: 17px;
    color: #a9a9a9;
    line-height: 30px;
}

.footer__column-icons-item {
    text-decoration: none;
    color: var(--white-color);
    display: block;
    line-height: 24px;
    margin-bottom: 4px;
    transition: color ease-out 0.25s;
}

.footer__column-icons-item:hover {
    color: #3fd0d4;
}

.footer__column-icon-link {
    font-size: 14px;
}

.footer__column-contact {
    font-size: 14px;
    padding-left: 10px;
}

.footer__column-title {
    margin: 0 0 26px;
}

.footer__column-place {
    margin-bottom: 30px;
}

.footer__column-place-country,
.footer__column-place-date {
    display: block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer__column-place-country {
    color: #a9a9a9;
    transition: color ease-out 0.25s;
    line-height: 24px;
}

.footer__column-place-country:hover {
    color: #3fd0d4;
}

.footer__column-place-date {
    color: var(--white-color);
    transition: color ease-out 0.25s;
}

.footer__column-place-date:hover {
    color: #3fd0d4;
}

.footer__column-place-date {
    color: var(--white-color);
    margin-top: 8px;
}

.footer__column-place-comment {
    color: #a9a9a9;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.footer__column-form {
    margin: 30px 0;
}

.footer__column-form-text {
    position: relative;
    margin-bottom: 6px;
}

.footer__column-form-text-icon {
    position: absolute;
    color: var(--white-color);
    left: 20px;
    top: 50%;
    transform: translateY(-60%);
}

.footer__column-form-text-word {
    outline: none;
    border: none;
    padding: 12px 47px;
    background-color: #595959;
    color: var(--white-color);
    height: 26px;
    width: calc(100%);
    height: 50px;
}

::placeholder {
    color: var(--white-color);
    letter-spacing: 0.5px;
    font-size: 14px;
}

.footer__column-form-submit-btn {
    height: 50px;
    width: 100%;
    padding: 0 42px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    transition: color ease-out 0.2s, background-color ease-out 0.3s;
    cursor: pointer;
}

.footer__column-form-submit-btn:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

.footer__column-for-imgs {
    margin: 27px -3px;
    flex-wrap: wrap;
}

.footer__column-for-imgs-list {
    justify-content: space-between;
}

.footer__column-for-img {
    padding: 3px;
    overflow: hidden;
}

.footer__column-for-img-link {
    display: block;
}

.footer__column-for-img:hover .footer__column-for-img-beautiful {
    transform: scale(1.05);
}

.footer__column-for-img-beautiful {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform linear 0.2s;
    object-fit: cover;
}

/* The End */
.footer__end {
    padding: 22px 0;
    text-align: center;
}

.footer__end-copyright {
    color: #a9a9a9;
}

.footer__end-copyright-com {
    color: var(--white-color);
    text-decoration: none;
    transition: color ease-out 0.2s;
}

.footer__end-copyright-com:hover {
    color: #3fd0d4;
}

.footer__end-copyright,
.footer__end-copyright-com {
    font-size: 14px;
}
